.photo-column {
    background-color: sienna;
    height: 900px;
}

#photo-gallery{
    background-color: bisque;
    height: 900px;
}

.photo-sm{
    width: 100%;
    height: 380px;
    background-color: wheat;
    margin-top: 20px;
    overflow: hidden;
}

.photo-big{
    width: 100%;
    height: 460px;
    background-color: wheat;
    margin-top: 20px;
    overflow: hidden;
}


@media (min-width: 578.98px){
    .video {
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
}

@media (min-width: 767.98px){
    .video {
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}

@media (min-width: 991.98px){
    .video {
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
}